/* <-- Navbar Styling --> */
header {
    width: 100vw;
    box-shadow: 2px 5px 10px rgba(126, 126, 126, 0.2);
}

.main-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}


.nav-list li .nav-link {
    font-weight: bold;
    color: rgb(158, 158, 158);
}

.nav-list li .nav-link:hover {
    color: black;
    transition: all ease-in-out;
    transition-duration: 500ms;
}

.nav-list .active-link .nav-link {
    color: black;
}

/* <-- Secondary-nav Styling --> */

.secondary-nav {
    padding: 3px 0;
    font-size: 14px;
    width: 100%;
    border-top: 2px;
    background: rgb(221, 221, 221);
}

.secondary-nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-content: center;
}

/* <-- HeroSection --> */

.hero-section{
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 15px;
}

.hero-img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 10px;
}
